@page "/timeline"
@using System.Globalization
@using Oracle.Logic.Services.TimelineService
@inherits OracleBasePage

<OracleTitle Title="Timeline" />


<MudPaper Class="pa-5">
	<table>
		<tr>
			<th class="me-3">Characters</th>
			<th class="me-3 timeline-Item timeline-Nothing" @onclick="() => AdjustDateRange(-1)"> Earlier </th>
			<th class="timeline-Container">
					@foreach (var day in Enumerable.Range(StartDay, EndDay + 1 - StartDay))
					{
						<div class="timeline-Item pa-2" style="width: @GetTimelineDayPixelWidth(TimelineDayWidthPixels, 1, TimelineDayMarginPixels); margin-right: @(TimelineDayMarginPixels)px;">
							@day
						</div>
					}
			</th>
			<th class="me-3 timeline-Item timeline-Nothing" @onclick="() => AdjustDateRange(1)"> Later </th>
		</tr>
		
		@foreach (var character in Characters)
		{
			var timeline = Timeline.First(x => x.CharacterId == character.Id).Timeline;
			TimelineDateVm? currentDay = null;
			int? currentTimelineId = null;
			int currentSpanCount = 1;


			<tr>
				<td class="me-3">@character.Name</td>
				<td class="me-3"></td>
				<td class="timeline-Container">
						@for (var i = StartDay; i <= EndDay; i++)
						{
							var day = timeline.FirstOrDefault(x => x.Date == i);

							if (currentDay == null)
							{
								currentDay = day;
								currentTimelineId = day?.TimelineId;
							}
							else
							{
								//We have a currentTimelineId chain going
								if (currentTimelineId.HasValue)
								{
									//The chain is broken - add the item
									if (day is not { TimelineId: not null } || (day.TimelineId.HasValue && day.TimelineId != currentTimelineId))
									{
										var cssClass = currentDay.Type switch
										{
											TimelineEntityTypes.Adventure => "timeline-Adventure",
											TimelineEntityTypes.Activity => "timeline-Activity",
											TimelineEntityTypes.BlockingStatus => "timeline-Status",
											_ => "timeline-Nothing"
										};

										var completionClass = currentDay.IsComplete ? "" : "incomplete";
										var text = currentDay.Description;
										var count = currentSpanCount;

										<div class=" @cssClass @completionClass timeline-Item pa-2"
										 style="width: @GetTimelineDayPixelWidth(TimelineDayWidthPixels, count, TimelineDayMarginPixels);margin-right: @(TimelineDayMarginPixels)px;">
											@text
										</div>

										//<div class="timeline-Item timeline-Span @cssClass @completionClass" style="flex-grow: @currentSpanCount;">@currentDay?.Description</div>

										currentSpanCount = 1;
									}
									else
									{
										currentSpanCount++;
									}
								}
							}

							if (day is { TimelineId: not null })
							{
								currentDay = day;
								currentTimelineId = day.TimelineId;
							}
							else
							{
								currentDay = null;
								currentTimelineId = null;

							<div class="timeline-Item timeline-Nothing pa-2" style="width: @GetTimelineDayPixelWidth(TimelineDayWidthPixels, 1, TimelineDayMarginPixels); margin-right: @(TimelineDayMarginPixels)px;">
									
								</div>
							}

						}
				</td>
				<td class="me-3"></td>
			</tr>
		}
	</table>
</MudPaper>



