@page "/timeline"
@using System.Globalization
@using Oracle.Logic.Services.TimelineService
@using Oracle.App.Components.Shared.Timeline
@inherits OracleBasePage

<OracleTitle Title="Timeline" />


<MudPaper Class="pa-5">
	<div class="mb-4">
		<MudSlider T="int" ValueChanged="OnStartDateChanged" Min="0" Max="@MaxEndDay" ValueLabel="true"></MudSlider>
	</div>
	<TimelineComponent StartDay="@StartDay" OnStateChanged="Refresh" EndDay="@EndDay" Characters="@Characters" CharacterTimelines="@Timeline"/>
</MudPaper>



