@using Oracle.Data.Models
@using Oracle.Logic.Services

<MudDialog>
    <TitleContent>
        <MudText Typo="Typo.h6">
            Add new activity
        </MudText>
    </TitleContent>
    <DialogContent>
	    <div class="row">
		    <div class="col-4">
			    <MudSelect T="int" Label="Activity Type" Variant="Variant.Outlined" ValueChanged="OnActivityTypeSelected">
				    @foreach (var activityType in ActivityTypes)
				    {
					    <MudSelectItem Value="@activityType.Id">@activityType.Name</MudSelectItem>
				    }
			    </MudSelect>
			    <MudField Label="Duration" Variant="Variant.Outlined">
				    <MudNumericField T="int" @bind-Value="Duration"/>
			    </MudField>
			    <div class="d-flex align-center">
				    <MudSelect Disabled="ProjectSelectDisabled" Label="Project" Variant="Variant.Outlined" @bind-Value="SelectedProject">
					    <MudSelectItem Value="0">Does not contribute to project</MudSelectItem>
					    @foreach (var project in Projects)
					    {
						    <MudSelectItem Value="@project.Id">@project.Name</MudSelectItem>
					    }
				    </MudSelect>
				    <MudButton OnClick="AddProject">Add</MudButton>
			    </div>
		    </div>
		    <div class="col-8">
			    <div style="overflow-y: scroll;">
					@((MarkupString)(SelectedActivityType?.Description ?? "<div>There is no description for this Activity Type</div>"))
			    </div>
		    </div>
	    </div>
	    
    </DialogContent>
    <DialogActions>
        <MudButton Disabled="ProcessingNewActivity" OnClick="Cancel">Cancel</MudButton>
        <MudButton Disabled="ProcessingNewActivity" Color="Color.Primary" OnClick="Submit">Ok</MudButton>
    </DialogActions>
</MudDialog>

@code
{
	[CascadingParameter] MudDialogInstance MudDialog { get; set; }
	[Inject] ActivityService ActivityService { get; set; } = null!;
	[Inject] ProjectService ProjectService { get; set; } = null!;
	[Inject] protected IDialogService DialogService { get; set; }

	[Parameter] public int CharacterId { get; set; }
	[Parameter] public int Date { get; set; }

	private bool ProcessingNewActivity { get; set; } = false;

	// Activity Fields
	private int SelectedActivityTypeId { get; set; }
	private int SelectedProject { get; set; }
	private bool ProjectSelectDisabled { get; set; } = true;
	private int Duration { get; set; } = 1;

    private int EndDate => Math.Max(Date, Date + Duration - 1);
	private ActivityType? SelectedActivityType => ActivityTypes.FirstOrDefault(x => x.Id == SelectedActivityTypeId);
    
    private List<ActivityType> ActivityTypes { get; set; } = new List<ActivityType>();
    private List<Project> Projects { get; set; } = new List<Project>();
    
    protected override async Task OnInitializedAsync()
    {
		MudDialog.Options.FullWidth = true;
		MudDialog.Options.MaxWidth = MaxWidth.ExtraLarge;

		MudDialog.SetOptions(MudDialog.Options);

	    await Refresh();
    }

    private async Task Refresh()
    {
//      // Get available activity types
	    ActivityTypes = await ActivityService.GetActivityTypes();

	    SelectedProject = 0;
	    ProjectSelectDisabled = true;
    }

    private async Task OnActivityTypeSelected(int value)
    {
	    SelectedActivityTypeId = value;

	    var activity = ActivityTypes.FirstOrDefault(x => x.Id == SelectedActivityTypeId);

	    if (activity == null)
	    {
		    SelectedProject = 0;
		    ProjectSelectDisabled = true;
		    return;
	    }
        
	    Projects = await ProjectService.GetActiveProjects(CharacterId, activity.ProjectContributionTypeId);
	    ProjectSelectDisabled = false;
    }

    private async Task AddProject()
    {
	    var parameters = new DialogParameters()
	    {
		    { "TargetCharacterId", CharacterId }
	    };

	    var dialog = await DialogService.ShowAsync<NewProjectDialog>("Add project", parameters);
	    var result = await dialog.Result;

	    if (!result.Canceled)
	    {
		    await OnInitializedAsync();
	    }
    }

    private async Task Submit()
    {
        ProcessingNewActivity = true;
        
        // Try adding the new activity
        var outcome = await ActivityService.TryAddActivity(CharacterId, SelectedActivityTypeId, Date, EndDate, SelectedProject == 0 ? null : SelectedProject);
        
        if (outcome.Success)
        {
            MudDialog.Close(DialogResult.Ok("Activity Added"));
        }
    }
    
    private void Cancel() => MudDialog.Cancel();

}
